{% extends "@admin/layout.twig" %}

{% block title 'Créer une catégorie' %}

{% block body %}

<h1>Ajouter une catégorie</h1>

<form action="{{ path(routePrefix ~ '.create') }}" method="POST">
    {% include viewPath ~ "/form.twig" %}
    <button class="btn btn-primary" type="submit">Ajouter la catégorie</button>
</form>

{% endblock %}